<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="search" class="nav-link" role="button" routerLinkActive="active">Search</a>
        </li>
        <li class="nav-item">
            <a routerLink="movies" class="nav-link" role="button" routerLinkActive="active">Movies</a>
        </li>
    </ul>
</nav>

<div class="container-fluid" style="margin-top:100px">
    <router-outlet></router-outlet>
</div>